<div class="w-screen min-h-screen p-4 flex justify-center items-center bg-gray_dark overflow-auto">
    <div class="w-full p-8 rounded-3xl flex flex-col justify-start items-start gap-8 bg-dark">
        <div class="w-full flex justify-between items-center">
            <p-select [options]="i18n" [(ngModel)]="currentLang" (ngModelChange)="onLanguageChange($event)" optionLabel="name"
                optionValue="id" placeholder="Select Language" class="custom-select w-32" [ngClass]="{
                          'light-mode-select': !(isDarkMode$ | async),
                          'dark-mode-select': (isDarkMode$ | async)
                        }"></p-select>
            <app-mode></app-mode>
        </div>
        <div class="w-full flex flex-col justify-start items-center mt-4">
            <img src="assets/img/lion.png" alt="Logo" class="h-28">
            <img src="assets/img/Okland Typography (Orange).png" class="w-32 mb-1" alt="Logo">
            <h2 class="block sm:text-sm lg:text-xl tracking-widest font-azonix text-light_orange">
                WARRANTY
            </h2>
        </div>
        <div class="w-full flex flex-col justify-start items-start">
            <span class="font-medium text-base leading-7 tracking-wider mb-1 text-orange">
                {{ 'warranty.activateWarranty.userInformation' | translate }}
            </span>
            <input type="text" placeholder="{{ 'warranty.activateWarranty.fullName' | translate }}"
                class="w-full px-4 py-2 mb-4 bg-transparent border border-gray-500 rounded-md text-orange focus:outline-none focus:border-orange text-sm" [(ngModel)]="activateForm.username" />
            <input type="text" placeholder="{{ 'warranty.activateWarranty.phoneNumber' | translate }}"
                class="w-full px-4 py-2 bg-transparent border border-gray-500 rounded-md text-orange focus:outline-none focus:border-orange text-sm" [(ngModel)]="activateForm.number"/>
        </div>
        <div class="w-full flex flex-col justify-start items-start">
            <span class="font-medium text-base leading-7 tracking-wider mb-1 text-orange">
                {{ 'warranty.activateWarranty.invoiceInformation' | translate }}
            </span>
            <input type="text" placeholder="{{ 'warranty.activateWarranty.branchName' | translate }}"
                class="w-full px-4 py-2 mb-4 bg-transparent border border-gray-500 rounded-md text-orange focus:outline-none focus:border-orange text-sm" [(ngModel)]="activateForm.branchName"/>
            <input type="text" placeholder="{{ 'warranty.activateWarranty.branchNumber' | translate }}"
                class="w-full px-4 py-2 bg-transparent border border-gray-500 rounded-md text-orange focus:outline-none focus:border-orange text-sm" [(ngModel)]="activateForm.branchNumber"/>
        </div>
        <div class="w-full flex flex-col justify-start items-center gap-8">
            <input type="file" accept="image/*" class="hidden" #fileInput (change)="onBasicUploadAuto($event)" />
            <button class="w-max py-2 px-4 flex items-center gap-2 bg-orange text-[#2c2c2c] font-semibold rounded-md hover:bg-[#ffa733] transition-colors font-sans text-sm" (click)="fileInput.click()">
                {{ 'warranty.activateWarranty.uploadPhoto' | translate }}
                <app-upload></app-upload>
            </button>
            @if (imagePreview) {
                <img [src]="imagePreview" alt="Invoice" class="w-full h-36 object-contain">
            }
            <span class="font-light text-base text-center leading-6 tracking-tight text-orange">
                {{ 'warranty.activateWarranty.photoInfo' | translate }}
            </span>
            <button class="w-max py-2 px-4 flex items-center gap-2 font-medium text-xl uppercase rounded-md font-roboto text-dark bg-blue" (click)="activateWarranty()" >
                {{ 'warranty.activateWarranty.actions.activate' | translate }}
            </button>
        </div>
    </div>

    <!-- <app-error-dialog [visible]="errorVisible" [message]="errorMessage"></app-error-dialog> -->
    <p-dialog [(visible)]="errorVisible" [modal]="true" [closable]="true" [dismissableMask]="true" [style]="{ width: '400px' }"
        styleClass="!border-0">
        <ng-template #headless>
            <div class="flex flex-col gap-4 p-6 rounded-2xl" [ngClass]="{
                'bg-gray': isDarkMode$ | async,
                'bg-light_card_bg': !(isDarkMode$ | async)
            }">
                <app-error-icon class="mx-auto"></app-error-icon>
                <p class="text-center" [ngClass]="{ 
                    'text-light_orange': isDarkMode$ | async,
                    'text-gray_dark': !(isDarkMode$ | async)
                 }">{{ errorMessage }}</p>
                <div class="flex justify-center mt-4">
                    <button type="button"
                        class="px-6 py-2 rounded-lg text-white bg-[#FF9933] hover:opacity-90"
                        (click)="errorVisible = false">
                        OK
                    </button>
                </div>
            </div>
        </ng-template>
    </p-dialog>
</div>