<app-header #headerRef (collapsedSidenav)="toggleSidenav($event)"></app-header>

<mat-sidenav-container [ngStyle]="{ height: sidenavHeight }">
  <mat-sidenav #sidenav mode="side" opened="true" [style.overflow]="'hidden'" [style.width]="sidenavWidth()" [ngStyle]="{
      'background-color': (isDarkMode$ | async) ? '#151515' : '#f5f5f5'
    }">
    <app-custom-sidenav #customSidenav (collapsedSidenav)="toggleSidenav($event)"></app-custom-sidenav>
  </mat-sidenav>

  <mat-sidenav-content class="p-6" [style.margin-left]="sidenavWidth()" [ngStyle]="{
      'background-color': (isDarkMode$ | async) ? '#1f1f1f' : '#ffffff'
    }">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>