::ng-deep .mdc-list-item__content {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

::ng-deep .p-dialog {
    background-color: #393939 !important;
    border: 1px solid #393939 !important;
}

::ng-deep .p-dialog-title {
    margin: 0 auto !important;
    color: #FF9933 !important;
    font-family: 'Azonix' !important;
    font-size: 1.5rem !important;
}

:host p-select ::ng-deep .p-select-label {
    color: #FF9933 !important;
    background: #393939 !important;
}

:host p-select ::ng-deep .p-select-dropdown {
    color: #FF9933 !important;
    background: #393939 !important;
}

::ng-deep .p-select {
    border: 1px solid #696969 !important;
}

::ng-deep .p-select:not(.p-disabled).p-focus {
    border-color: #696969 !important;
}

::ng-deep .p-select-option.p-select-option-selected {
    color: #FF9933 !important;
    background: #4D4D4D !important;
}

::ng-deep .p-select-option:not(.p-select-option-selected):not(.p-disabled).p-focus {
    color: #FF9933 !important;
    background: #4D4D4D !important;
}

::ng-deep .p-select-list {
    padding: unset !important;
}