<app-side-nav>
    <div class="w-full h-full flex justify-center items-center">
        <!-- Left Section -->
        <div
            class="flex flex-col justify-center items-center text-center p-6">
    
            <!-- Logo -->
            <div
                class="flex flex-col sm:flex-row items-center sm:items-start sm:space-x-4 space-y-4 sm:space-y-0 max-[700px]:scale-90">
                <img src="/assets/img/lion.png" alt="Logo" class="h-20 sm:h-24 md:h-28 max-[700px]:h-60">
                <div class="flex flex-col items-center sm:items-start space-y-0 mt-2 sm:mt-4">
                    <img src="/assets/img/Okland Typography (Orange).png" class="mb-1 mt-4 w-[130px] lg:w-[200px]" alt="Logo">
                    <h2 class="text-xl lg:text-3xl tracking-widest font-azonix text-light_orange max-[700px]:text-sm">
                        WARRANTY
                    </h2>
                    <h2
                        class="text-xl lg:text-3xl transform translate-y-[-5px] sm:translate-y-[-10px] tracking-widest font-azonix text-light_orange max-[700px]:text-sm">
                        SYSTEM
                    </h2>
                </div>
            </div>
    
            <!-- Invoice Card -->
            <app-invoice-card class="max-[700px]:scale-75 max-[700px]:transform"></app-invoice-card>
        </div>
    </div>
</app-side-nav>